@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #cdfef3, #9c88dd, #6875ca);
  color: #0f0b36;
  overflow-x: hidden;
}
#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
header,
main,
footer {
  min-width: 100vw;
  padding: 20px;
  display: flex;
}
header,
footer {
  height: 15%;
}
header {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 99999;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to top right, #cdfef3, #9c88dd, #6875ca);
}
#logo-container {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#logo-container img {
  width: 3rem;
}
main {
  flex: 1;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  z-index: 2;
  padding: 15% 20px;
}
.details-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 35%;
  gap: 10px;
  padding: 10px;
}
label,
input {
  display: block;
}
label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section-heading-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.section-heading-container h3 {
  margin-right: auto;
  margin-left: 5px;
}
form {
  min-width: 100%;
}
input {
  margin: 10px 0px;
  padding: 5px 10px;
  min-width: 100%;
  border: none;
  font-size: 0.9rem;
  font-weight: 510;
  color: #0f0b36;
  border-bottom: 1px solid #6875ca;
  background-color: transparent;
}
input:focus {
  outline: 1.5px solid #0f0b36;
  border: none;
  border-radius: 10px;
}
.save-education-btn {
  width: 40%;
  padding: 5px 10px;
  background-color: #71d149;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 550;
  color: #cbfef3;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out,
    box-shadow 500ms ease-in-out;
}
.save-education-btn:hover {
  transform: scale(0.99);
  opacity: 0.9;
  box-shadow: none;
}
.cv-display {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 700px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  padding: 0px 20px 20px 20px;
  background-color: white;
}
.cv-display section {
  min-width: 100%;
}
.cv-display section h3,
h2 {
  margin-bottom: 10px;
  text-align: center;
}
.cv-display section h3 {
  margin-top: 10px;
}
.cv-display section p,
.personal-details-icons,
span {
  font-size: 0.9rem;
}
.educational-experience h3 {
  align-self: center;
}
.personal-details,
.educational-experience,
.practical-experience {
  display: flex;
  flex-direction: column;
}
.personal-details div {
  display: flex;
  align-items: center;
  gap: 5px;
}
section hr {
  width: 70%;
  height: 4px;
  background-color: #0f0b36;
  margin-bottom: 15px;
  align-self: center;
}
.qualification-container {
  margin-bottom: 15px;
}
.qualification-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.practical-experience-container {
  margin-bottom: 15px;
}
footer {
  font-size: 1rem;
  font-weight: 540;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: fixed;
  bottom: 0px;
  z-index: 999999;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to top left, #9c88dd, #6875ca);
}
footer .contact-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.contact-icons img {
  width: 2.4rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 3px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.contact-icons img:hover {
  opacity: 0.7;
  box-shadow: none;
  transform: scale(0.98);
  transform: rotateZ(90deg);
}
.active {
  display: flex;
}

@media screen and (max-width: 750px) {
  main {
    flex-direction: column;
  }
  .cv-display {
    min-width: 100%;
  }
  .details-container {
    min-width: 80%;
    align-self: center;
  }
  .details-container input {
    min-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .cv-display section {
    min-width: 100%;
  }
  .details-container {
    min-width: 100%;
  }
  .qualification-details {
    align-items: flex-start;
    flex-direction: column;
  }
  .duties-description {
    min-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .personal-details-icons {
    display: none;
  }
}
