* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
}
html {
  font-size: 1rem;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0e5f2;
  color: #0f0b36;
  overflow-x: hidden;
  position: relative;
}
header,
footer {
  padding: 30px;
  width: 100%;
}
header {
  position: fixed;
  background-color: #f0e5f2;
  z-index: 10;
}
main {
  flex: 1;
  padding-top: 100px;
}
.content-div {
  width: 100%;
  height: 100%;
}
.home {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
}
.admin-main-sec {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.businesses-list-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.business-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.411);
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
.business-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.business-card-btns-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.business-card-btns-div button,
.add-business-div form button,
.login-form button,
.logout-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 550;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
  transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out,
    transform 500ms ease-in-out;
}
.edit-business-btn,
.add-business-div form button,
.login-form button {
  background-color: #e89df5;
}
.delete-business-btn,
.logout-btn {
  background-color: tomato;
}
.business-card-btns-div button:hover,
.add-business-div form button:hover,
.login-form button:hover,
.logout-btn:hover {
  opacity: 0.8;
  box-shadow: none;
  transform: scale(0.99);
}
.add-business-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.add-business-div form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.281);
  width: 350px;
  border-radius: 5px;
  gap: 10px;
}
.add-business-div form label {
  display: none;
}
.add-business-div form input,
.add-business-div form textarea,
.login-form input,
.add-business-div form select {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 0.7;
  font-weight: 500;
  background-color: #f0e5f2;
  color: #0f0b36;
  width: 100%;
  display: block;
  border-radius: 5px;
}
.add-business-div form textarea {
  resize: none;
  height: 100px;
}
.add-business-div form input:focus,
.add-business-div form textarea:focus,
.login-form input:focus,
.add-business-div form select:focus {
  outline: 1.5px solid #0f0b36;
}
.add-business-div form button,
.login-form button {
  width: 100%;
}
.business-sec-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
  font-size: 0.9rem;
}
.business-sec-card img {
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.486);
}
.business-sec-card h5,
.business-sec-card h3,
.business-sec-card img {
  align-self: center;
}
.business-sec-card div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.error {
  color: tomato;
}

@media (max-width: 750px) {
  .home {
    flex-direction: column;
  }
  .businesses-list-div {
    width: 100%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 0.6rem;
  }
}
@media (max-width: 360px) {
  .business-card-btns-div {
    flex-direction: column;
    width: 100%;
  }
  .business-card-btns-div button {
    width: 100%;
  }
}
